@using WAF.Engine.Content.MySite
@inject WAF.API.Web.WAFNativeContext ctx
@{
	var Instructors = ctx.Session.Query<Instructor>().Execute(); 

}

@foreach(var Instructor in Instructors )
{
	<h2>@Instructor.Name</h2>

}