@using WAF.Engine.Content.MySite
@inject WAF.API.Web.WAFNativeContext ctx
@{
    var venues = ctx.Session.Query<Venue>().Execute();

}
{
public class Index

{

@foreach (var venue in venues)
{
    <h2>@venue.Name</h2>
    <div>@Html.Raw(venue.VenueAdress)</div>
    <p>
        <b>Instructors:</b><b />

    </p>
}
}
}