@using WAF.Engine.Content.MySite
@using WAF.Engine.Query.MySite;
@inject WAF.API.Web.WAFNativeContext ctx
@{
    var courses = ctx.Session.Query<Course>().Where(AqlCourse.Start>DateTime.Now).OrderBy(AqlCourse.Start,false).Execute();

}

@foreach (var course in courses)
{
    <h2><a href="@ctx.GetUrl(course)">@course.Name</a></h2>
    <div>@course.Start.ToShortDateString()</div>
    <p>
        <b>Instructors:</b><b />
    </p>
}

<div class="grid-container">
    <div class="grid-item">
        <div class="grid-inside"></div>
    </div>
    <div class="grid-item">2</div>
    <div class="grid-item">3</div>
    <div class="grid-item">4</div>
    <div class="grid-item">5</div>
    <div class="grid-item">6</div>
    <div class="grid-item">7</div>
    <div class="grid-item">8</div>
    <div class="grid-item">9</div>
</div>

<style>
    
    .grid-container {
        width: 100%;
        height: 800px;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        padding: 10px
    }

    .grid-item {
        background-color: darkslategray;
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        margin: 10px;
        font-size: 30px;
        text-align: center;
    }

    .grid-inside {
        width: 50px;
        height: 50px;
        background-color: red;
    }
</style>